@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

@font-sans-family: 'PT Sans', sans-serif;

body{
	font-family: @font-sans-family;
}

.body-shadow{
	.text-shadow();
	font-weight: 700;
	color:#fff;
}

h1{
	.body-shadow;
	font-weight: 700;
}

h2{
	.body-shadow;
	font-weight: 700;
	font-size: 20px;
}

p{
	.body-shadow;
}